@font-face{
    font-family: 'Montserat-Black';
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face{
    font-family: 'Montserat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserat-Light';
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face{
    font-family: 'Montserat-Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Montserat-Thin';
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

